body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #26335D;
  color: #ffffff;
}

main{
  width: 1440px;
  height: 5500px;
}

header {
  background-color: #26335D;
  padding: 20px;
}

.background-shape{
  position:absolute;
  right: 1024px;
  top: -180px;
  z-index: 1;
}

.background-shape2{
  position:absolute;
  left: 1400px;
  top:1px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  text-align: center;
  z-index: 2;
  position: relative;
  right: 200px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  
}

.navbar-nav {
  z-index: 2;
  position: relative;
  right: 150px;
}

.navbar-nav .nav-item {
  margin: 0 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.login-buttons .btn {
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  align-items: center;
}
.login-buttons{
  z-index: 2;
  position: relative;
  left: 150px;
}

.login{
  color: white;
}

.text{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.join-us {
  background-color: #8D5CF6;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.join-h5{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.hero {
  padding: 50px 0;
  background-color: #26335D;
}

.hero-content {
  color: white;
  z-index: 2;
  position: relative;
  top: 50px;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  animation: fadeIn 1s ease-in-out;
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  animation: fadeIn 1s ease-in-out;
}

.hero-buttons .btn {
  padding: 15px 30px;
  border-color: #8D5CF6;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  animation: fadeIn 1s ease-in-out;
}

.btn-primary {
  background-color: #8D5CF6;
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.hero-image {
  position: relative;
  left: 600px;
}

.hero-image .main-image {
  width: 100%;
  max-width: 700px;
  animation: slideIn 1s ease-in-out;
  position: relative;
  right: 200px;
  top: -60px;
  z-index: 1;
}

.chart1 {
  position: absolute;
  top: 450px;
  left: 80px;
  z-index: 1;
  width: 261px;
  height: 243px;
  animation: slideIn 1s ease-in-out;
}

.chart2 {
    position: absolute;
    bottom: 500px;
    right: 650px;
    width: 212px;
    height: 212px;
    animation: slideIn 1s ease-in-out;
    z-index: 1;
}

.icono{
  position: absolute;
  left: -210px;
  bottom: 130px;
  animation: slideIn 1s ease-in-out;
  z-index: 1;
}

.circle{
    position: absolute;
    right: 300px;
    bottom: 105px;
    animation: slideIn 1s ease-in-out;

}

.footer-top {
  background-color: #f8f9fa;
  padding: 40px 0;
  color: #212529;
}

.footer-top h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
  color: #252B42;
}

.links{
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rebeccapurple;
}

.footer-top a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  text-decoration: none;
  margin-bottom: 10px;
  
}

.footer-top p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  text-decoration: none;
  margin-bottom: 10px;
}

.p1{
  margin-left: 120px;
}

.p2{
  margin-left: 90px;
}

.footer-top .bi {
  font-size: 24px;
  color: #8D5CF6;
}


.footer-bottom {
  background-color: #e9ecef;
  padding: 20px 0;
  color: #212529;
}



.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .social-icons {
  display: flex;
  gap: 15px;
}

.footer-bottom .social-icons a {
  color: #6c757d;
  font-size: 24px;
  text-decoration: none;
}

.footer-bottom .social-icons a:hover {
  color: #343a40;
}

.footer-bottom .bi {
  font-size: 24px;
  color: #8D5CF6;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}