

.page4-practice-advice {
    color: #8D5CF6;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    align-items: center;
    margin-bottom: 20px;
}

.page4-applicable-package {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    align-items: center;
    margin-bottom: 10px;
}

.page4-paragraph {
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   align-items: center;
   margin-top: 20px;
}

.page4-carousel-slide .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page4-container{
    position: relative;
    bottom: 400px;
    left: 250px;
}

#page4Carousel{
    position: relative;
    bottom: 180px;
}

.page4-card {
    background-color: white;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 10px;
}

.page4-card-1 {
    width: 500px;
    height: 440px;
}

.page4-card-2 {
    width: 500px;
    height: 460px;
}

.page4-card-img-top {
    border-radius: 50%;
    margin-top: 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.page4-card-body {
    padding: 20px;
    margin-top: 20px;
}

.page4-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.page4-stars i {
    color: #FFDF00;
}

.page4-card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 10px;
}

.page4-card-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.page4-row-carousel {
    margin: 213px;
    display: flex;
    flex-wrap: wrap;
    
}
